html{
	height: 100%;
}
body{
	background-color: #F5F5F5;
	height: 100%;
	
} 
.pos{
	position: relative;
	border: 1px solid red;
	min-height: 100%;
	height: auto;
	
}


/*-----------------HEADER-------------------------------------*/
header{
	width: 100%;
	height: 180px;
	border: 1px solid red;
	margin-left: 0;
	
	.header-nav{
		list-style-type: none;
		border:1px solid yellow;
		height: 40px;
		line-height: 40px;
		 
		
		li{
			display: inline;
			
		}
		
	}
		
		.header-reg{
			list-style-type: none;
			height: 40px;
			line-height: 40px;
			border:1px solid green;
			
			li{
				display: inline;
				
			}
		}		
	
}


/*-----------------HEADER-------------------------------------*/




/*-----------------MAIN SECTION-------------------------------*/
#main{
	min-height: 1700px;
	height: auto;
	border:1px solid red;
	padding-bottom: 100px;
	
	.brands{
		list-style-type: none;
		
		li{
			display: inline;
			
		}
		
	
	}
	
	.currency{
		list-style-type: none;
		
		li{
			display: inline;
			
		}
		
		
	}
	
	#news{
		list-style-type: none;
		
		li{
			
		}
	}
	
	
	.phone{
		width: 208px;
		height: 208px;
		background-color: #FFFFFF;
		border: 1px solid  #E0E0E0;
	}
	
	.description{
		width: 208px;
		
		 
	}
	
	#new_products{
		margin-top: 30px;
	}
}

/*-----------------MAIN SECTION-------------------------------*/

/*-----------------FOOTER-------------------------------------*/
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	border: 1px solid green;
	
	.footer-nav{
		list-style-type: none;
		
		li{
			display: inline;
		}
	}
}


/*-----------------FOOTER-------------------------------------*/





