.box{
	position: absolute;
	width: 700px;
	height: 500px;
	border:1px solid red;
	z-index: 1;
}
#textbox{
	position: absolute;
	resize: none;
	width: 695px;
	height: 695px;
	z-index: 2;
}
#italic{
	position: absolute;
	left: 85%;
}