html {
  height: 100%; }

body {
  background-color: #F5F5F5;
  height: 100%; }

.pos {
  position: relative;
  border: 1px solid red;
  min-height: 100%;
  height: auto; }

/*-----------------HEADER-------------------------------------*/
header {
  width: 100%;
  height: 180px;
  border: 1px solid red;
  margin-left: 0; }
  header .header-nav {
    list-style-type: none;
    border: 1px solid yellow;
    height: 40px;
    line-height: 40px; }
    header .header-nav li {
      display: inline; }
  header .header-reg {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    border: 1px solid green; }
    header .header-reg li {
      display: inline; }

/*-----------------HEADER-------------------------------------*/
/*-----------------MAIN SECTION-------------------------------*/
#main {
  min-height: 1700px;
  height: auto;
  border: 1px solid red;
  padding-bottom: 100px; }
  #main .brands {
    list-style-type: none; }
    #main .brands li {
      display: inline; }
  #main .currency {
    list-style-type: none; }
    #main .currency li {
      display: inline; }
  #main #news {
    list-style-type: none; }

/*-----------------MAIN SECTION-------------------------------*/
/*-----------------FOOTER-------------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  border: 1px solid green; }
  footer .footer-nav {
    list-style-type: none; }
    footer .footer-nav li {
      display: inline; }

/*-----------------FOOTER-------------------------------------*/
